body {
    background-image: url(../images/movieSet.jpg);
    background-size: 100%;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#guessBox {
    position: fixed;
    left: 5px;
    top: 150px;
    width: 200px;
    /* margin: 5px; */
    padding: 10px;
    border: 2px solid #fff;
}

#letterBox {
    position: fixed;
    right: 5px;
    top: 150px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
}

#movieScreen {
    /* margin-right: 100px; */
    font-size: x-large;
    width: 750px;
    margin-left: 300px;
}

#winBox {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 650px;
    text-align: center;
    margin-bottom: 60px;
    padding: 10px;
    border: 2px solid #fff;
}

.moviePoster {
    width: 100px;
}

.continueButton {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: large;
}